In [66]:
import pandas as pd
from sklearn.metrics import roc_auc_score,roc_curve,scorer
import dill
dill._dill._reverse_typemap['ClassType'] = type

import warnings
warnings.filterwarnings('ignore')

In [67]:
X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [68]:
X_test.head(2)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Female,Loyal Customer,26,Personal Travel,Eco,861,2,4,2,5,...,5,5,5,4,4,3,5,5,0,0.0
1,Male,Loyal Customer,22,Business travel,Business,393,3,5,5,5,...,3,3,1,1,3,2,3,3,0,16.0

In [69]:
y_test.head(2)

   satisfaction
0             0
1             0

In [73]:
with open('satisfaction2.dill', 'rb') as m:
    pipeline = dill.load(m)

In [74]:
predictions = pipeline.predict_proba(X_test.iloc[:500])
pd.DataFrame({'preds': predictions[:, 1]}).to_csv("test_predictions.csv", index=None)

In [75]:
roc_auc_score(y_score=predictions[:, 1][:], y_true=y_test.iloc[:500])

0.9947621836163706